.custom {
  background-color: #2a313c;
  &__container {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    @include tablet {
      gap: 3px;
    }
    @include mobile {
      justify-content: center;
      text-align: center;
    }
  }

  &__info {
    max-width: 600px;
    padding-block: 83px;
    @include desktop-xl {
      padding-block: 50px;
      max-width: 490px;
    }
    @include tablet {
      max-width: 400px;
      padding-block: 40px;
    }
    @include mobile {
      max-width: 500px;
    }
    @include mobile-s {
      max-width: 400px;
    }
    @include mobile-xs {
      max-width: 290px;
    }
  }

  &__info-esports {
    justify-content: start;
    padding-bottom: 11px;
  }

  &__info-title {
    font-size: 64px;
    line-height: 74px;
    padding-bottom: 38px;
    @include desktop-xl {
      font-size: 58px;
    }
    @include tablet {
      font-size: 50px;
      line-height: 62px;
      padding-bottom: 30px;
    }
    @include mobile-s {
      font-size: 38px;
      line-height: 45px;
    }
  }

  &__info-text {
    font-size: 20px;
    color: rgba(223, 223, 223, 0.8);
    padding-bottom: 54px;
    @include desktop-xl {
      font-size: 18px;
      padding-bottom: 40px;
    }
    @include tablet {
      font-size: 16px;
    }
    @include mobile-s {
      font-size: 14px;
    }
  }
}

.swiper-wrapper {
  max-width: 700px;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  content: "" !important;
}

.swiper-slide {
  padding: 10px;
  border-radius: 20px;
  background: rgb(59, 61, 70);
}

.custom__image-hero {
  height: 100%;
}
.custom__image {
  @include mobile {
    display: none;
  }
}
.custom__info-esports {
  @include mobile {
    justify-content: center;
  }
}
