.footer {
  background-color: var(--color-footer-bc);
  padding-top: 130px;
  padding-bottom: 60px;
  @include tablet {
    padding-top: 80px;
    padding-bottom: 40px;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    padding-bottom: 47px;
    border-bottom: 1px solid rgb(62, 62, 62);
    @include mobile {
      display: grid;
      grid-template-columns: repeat(2, 2fr);
    }
    @include mobile-s {
      grid-template-columns: 1fr;
      gap: 25px;
      padding-bottom: 35px;
    }
  }

  &__top-socials {
    img {
      max-width: 32px;
    }
  }

  &__btm {
    padding-top: 48px;
    @include mobile-s {
      padding-top: 28px;
    }
  }

  &__btm-text {
    font-size: 14px;
    text-align: center;
    color: rgb(137, 137, 137);
    line-height: 18px;
  }
}

.footer__top-logo__text {
  max-width: 290px;
  color: rgb(153, 153, 153);
  font-size: 15px;
  padding-top: 38px;
  @include mobile-s {
    text-align: center;
  }
}

.logo {
  flex-shrink: 0;
}
.footer__top-menu__title {
  line-height: 30px;
  padding-bottom: 23px;
  @include mobile-s {
    padding-bottom: 12px;
    line-height: 20px;
  }
}
.footer__top-menu__link {
  color: rgb(153, 153, 153);
  font-size: 15px;
  line-height: 37.5px;
  transition-duration: 0.2s;
  @include hover {
    color: var(--color-blue);
  }
}

.footer__top-socials__item {
  background-color: rgb(56, 61, 69);
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 0.2s;
  @include hover {
    background-color: var(--color-blue);
  }
}
.footer__top-socials__list {
  display: flex;
  gap: 20px;
}

.footer__top-logo {
  @include mobile-s {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.footer__top-menu {
  @include mobile-s {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.footer__top-socials {
  @include mobile-s {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.footer__top-menu__list {
  @include mobile-s {
    text-align: center;
  }
}
