.header--wrapper {
  background-image: url(./../../image/header/headerBc.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  @include tablet {
    background-position: center;
  }
  @include mobile-s {
    background-image: unset;
    background-color: #000000;
  }
}

.header__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header {
  position: relative;
  padding-top: 20px;

  &__nav-list {
    font-size: var(--font-size-little);
    gap: 4.167vw;
    display: flex;
    z-index: 10;
    @include tablet {
      gap: 3vw;
    }
    @include mobile-s {
      position: absolute;
      right: 15px;
      flex-direction: column;
      gap: 2vw;
      top: 59px;
    }
  }

  &__nav-link {
    color: var(--color-base);
    @include hover {
      color: var(--color-accent-alt);
    }
    @include mobile {
      @include hover {
        color: var(--color-blue);
      }
    }
  }

  &__buttons {
    gap: 20px;
    display: flex;
    align-items: center;
  }

  &__buttons-btn {
    color: var(--color-base);
    padding: 16px 31px;
    border: 1px solid var(--color-base);
    line-height: 20px;
    @include hover {
      transform: scale(1.1);
    }
    @include mobile {
      padding: 12px 18px;
    }
    @include mobile-s {
      display: none;
    }
  }
  @include desktop {
    padding-bottom: 120px;
  }
  @include tablet {
    padding-bottom: 100px;
  }
  @include mobile-s {
    padding-bottom: 75px;
  }
}

.header__bascet {
  display: flex;
  position: relative;
  @include hover {
    transform: scale(1.1);
  }
}

.counter {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 11px;
  color: #141820;
  background-color: var(--color-base);
  width: 25px;
  height: 18px;
  border-radius: 9px;
  @include mobile {
    width: 19px;
    height: 15px;
  }
}

.header {
  &__main {
    padding-top: 210px;
    display: flex;
    justify-content: space-between;
    @include desktop {
      padding-top: 160px;
    }
    @include tablet {
      padding-top: 120px;
    }
    @include mobile {
      justify-content: center;
    }
    @include mobile-s {
      padding-top: 75px;
    }
  }

  &__main-info {
    position: relative;
    max-width: 45.556vw;

    @include mobile {
      max-width: 55.556vw;
    }
    @include mobile-s {
      max-width: 100vw;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    &__sport {
      display: flex;
      align-items: center;
      color: var(--color-blue);
      font-size: 16px;
      padding-bottom: 24px;
      @include mobile-xs {
        font-size: 13px;
      }
    }
    &__title {
      font-size: 72px;
      max-width: 45.556vw;
      line-height: 86px;
      padding-bottom: 45px;
      @media (max-width: 1420px) {
        font-size: 60px;
      }
      @include desktop {
        font-size: 50px;
        line-height: 65px;
        padding-bottom: 35px;
      }
      @include tablet {
        font-size: 38px;
      }
      @include mobile {
        max-width: unset;
      }
      @include mobile-s {
        text-align: center;
      }
      @include mobile-xs {
        font-size: 28px;
        line-height: 40px;
      }
    }

    &__buttons {
      padding-bottom: 250px;
      padding-top: 53px;
      display: flex;
      align-items: center;
      gap: 40px;
      @include desktop {
        padding-bottom: 50px;
      }
      @include tablet {
        padding-block: 40px;
      }

      &-more {
        background-color: var(--color-blue);
        color: var(--color-base);
        padding: 21px 34px;
        transition-duration: 0.2s;
        @include hover {
          transform: scale(1.05);
        }
        @include mobile-xs {
          padding: 15px 25px;
        }
      }
      &-link {
        color: var(--color-base);
      }
    }
  }

  &__main-info__text {
    &-more {
      color: var(--color-gray-alt);
      @include desktop {
        font-size: 14px;
      }
      @include mobile {
        color: rgba(255, 255, 255, 0.8);
      }
      @include mobile-s {
        text-align: center;
      }
      @include mobile-xs {
        font-size: 13px;
      }
    }
  }
}

.title--accent {
  position: relative;
  &::after {
    content: "";
    left: 0;
    background: url(./../image/header/lineHeader.png) no-repeat;
    position: absolute;
    top: 80px;
    height: 15px;
    width: 400px;
    @include desktop-above-xl {
      width: 440px;
    }
    @include desktop {
      top: 55px;
      width: 330px;
    }
    @include mobile {
      width: 250px;
      background-position: center;
    }
    @include mobile-xs {
      width: 175px;
      top: 40px;
    }
  }
}

.header {
  &__main-image {
    @include mobile {
      display: none;
    }
    &__info {
      position: absolute;
      display: inline-flex;
      align-items: center;
      background-color: var(--color-base);
      color: #333333;
      border-radius: 3px;
      padding: 5px;
      gap: 8px;
      font-size: 12px;
      font-weight: 600;
      right: 0;
      transform: translate(15px, -60px);
      @include desktop {
        transform: translate(-20px, -40px);
      }
    }
  }
}

.header {
  &__main-vert {
    &__list {
      display: flex;
      gap: 50px;
      writing-mode: vertical-rl;
      position: absolute;
      flex-direction: row-reverse;
      transform: rotate(-180deg);
      left: -40px;
      top: 110px;

      @include desktop {
        writing-mode: unset;
        transform: unset;
        left: unset;
        top: unset;
        text-align: left;
        flex-direction: column;
        gap: 7px;
      }
      @include mobile-s {
        bottom: -10px;
        left: 0;
        transform: translate(50%, 50%);
        flex-direction: row;
        justify-content: center;
        padding-top: 10px;
        gap: 10px;
      }
      @include mobile-xs {
        width: 100%;
        transform: translate(0%, 50%);
      }
    }
    &__link {
      color: #80858f;
      font-size: 11px;
      transition-duration: 0.2s;
      @include hover {
        color: var(--color-blue);
      }
      @include mobile-s {
        font-size: 12px;
      }
    }
  }
}
.header__main-image__child {
  width: 45.833vw;
  @include desktop-xl {
    width: 40.714vw;
  }
  @include tablet {
    width: 45vw;
  }
}
.header__main-vert__title {
  display: inline-flex;
  align-items: center;
  font-size: 20px;
  color: var(--color-base);
  @include hover {
    color: var(--color-blue);
  }
}

.header--list--none {
  @include desktop {
    display: none;
  }
}
.vert--none {
  display: none;
  @include desktop {
    display: inline-flex;
  }
  @include mobile-s {
    display: flex;
    justify-content: center;
    margin-inline: auto;
  }
}
.header__buttons-img {
  @include mobile {
    max-width: 23px;
  }
}
.header__logo {
  @include mobile {
    max-width: 120px;
  }
}
.header__burger-button {
  color: #fff;
  display: none;
  @include mobile-s {
    display: block;
  }
  @include hover {
    color: var(--color-blue);
  }
}

.mobile--s--none {
  display: flex;
  @include mobile-s {
    display: none;
  }
}
.header__main-info__buttons-link {
  @include mobile-s {
    text-align: center;
  }
}
.header__main-info__buttons-link {
  @include hover {
    color: var(--color-accent-alt);
  }
}
