.join {
  background: url(./../../image/join/joinBc.jpeg) no-repeat;
  background-size: cover;
  padding-block: 130px;
  background-position: center;
  @include tablet {
    padding-block: 80px;
  }
  .join__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 850px;
    margin-inline: auto;
    @include desktop {
      max-width: 59.028vw;
    }
    @include tablet {
      max-width: 80vw;
    }
  }
  &__title {
    font-size: 72px;
    line-height: 82px;
    color: rgb(20, 24, 32);
    @include tablet {
      font-size: 60px;
    }
    @include mobile-s {
      font-size: 48px;
      line-height: 55px;
    }
    @include mobile-xs {
      font-size: 46px;
    }
  }
  &__text {
    padding-top: 51px;
    color: rgb(85, 85, 85);
    line-height: 28px;
    padding-bottom: 45px;
  }

  &__form {
    display: flex;
    max-width: 665px;
  }

  &__input {
    padding: 26px 40px 26px 13px;
    font-weight: 700;
    line-height: 28px;
    width: 445px;
    @include mobile-s {
      padding: 20px 30px 20px 13px;
      width: 295px;
    }
    @include mobile-xs {
      width: 200px;
    }
  }

  &__button {
    padding: 21px 8px;
    background-color: var(--color-blue);
    color: var(--color-base);
    font-weight: 700;
    transition-duration: 0.2s;
    @include hover {
      color: var(--color-accent-alt);
    }
  }
}

.join--accentend {
  position: relative;
  &::after {
    position: absolute;
    top: 35px;
    left: 0;
    transform: scale(0.9);
    content: url(./../image/footer/lineFooter.png);
    @include mobile-s {
      transform: scale(0.6);
      position: absolute;
      top: 35px;
      left: -65px;
    }
  }
}
