body {
  font-family: var(--font-family-base);
  font-size: var(--font-size-base);
  color: var(--color-base);
}

.container {
  max-width: 1350px;
  padding-inline: 15px;
  margin-inline: auto;
  @media (max-width: 1420px) {
    max-width: 1150px;
  }
}



.esports {
  display: flex;
  align-items: center;
  color: var(--color-blue);
  justify-content: center;
  font-size: 16px;
}
