body {
  font-family: var(--font-family-base);
  font-size: var(--font-size-base);
  color: var(--color-base);
}

.container {
  max-width: 1350px;
  padding-inline: 15px;
  margin-inline: auto;
  @media (max-width: 1420px) {
    max-width: 1150px;
  }
  @include desktop {
    max-width: 1000px;
  }
  @include tablet {
    max-width: 850px;
  }
  @include mobile {
    max-width: 720px;
  }
  @include mobile-s {
    max-width: 500px;
  }
  @include mobile-xs {
    max-width: 400px;
  }
}

.esports {
  display: flex;
  align-items: center;
  color: var(--color-blue);
  font-size: 16px;
}

.none {
  display: none;
}
