@font-face {
  font-family: "Orbitron-Bold";
  src: url("./../fonts/AnyConv.com__Orbitron-Bold.woff") format("woff"),
    url("./../fonts/AnyConv.com__Orbitron-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Orbitron-Regular";
  src: url("./../fonts/AnyConv.com__Orbitron-Regular.woff") format("woff"),
    url("./../fonts/AnyConv.com__Orbitron-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-reg";
  src: url("./../fonts/AnyConv.com__Roboto-Regular.woff") format("woff"),
    url("./../fonts/AnyConv.com__Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
