$desktop-above-xl: 1401px;
$desktop-xl: 1400px;

$desktop-above: 1201px;
$desktop: 1200px;

$tablet-above: 1024px;
$tablet: 1023px;

$mobile-above: 860px;
$mobile: 859px;

$mobile-s-above: 641px;
$mobile-s: 640px;

$mobile-xs-above: 501px;
$mobile-xs: 500px;

@mixin mobile-xs-above {
  @media (min-width: $mobile-xs-above) {
    @content;
  }
}

@mixin mobile-xs {
  @media (max-width: $mobile-xs) {
    @content;
  }
}

@mixin desktop-above-xl {
  @media (min-width: $desktop-above-xl) {
    @content;
  }
}

@mixin desktop-xl {
  @media (max-width: $desktop-xl) {
    @content;
  }
}

@mixin desktop-above {
  @media (min-width: $desktop-above) {
    @content;
  }
}

@mixin desktop {
  @media (max-width: $desktop) {
    @content;
  }
}

@mixin tablet-above {
  @media (min-width: $tablet-above) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: $tablet) {
    @content;
  }
}

@mixin mobile-above {
  @media (min-width: $mobile-above) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: $mobile) {
    @content;
  }
}

@mixin mobile-s-above {
  @media (min-width: $mobile-s-above) {
    @content;
  }
}

@mixin mobile-s {
  @media (max-width: $mobile-s) {
    @content;
  }
}

@mixin hover {
  @media (hover: hover) {
    &:hover {
      @content;
    }
  }

  @media (hover: none) {
    &:active {
      @content;
    }
  }
}
